In [165]:
import numpy as np
import pandas as pd

In [166]:
train = pd.read_csv('Placement_Data_Full_Class.csv')

In [167]:
train.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [168]:
train['status'].replace(['Placed', 'Not Placed'], [1, 0], inplace=True)

In [169]:
train.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,1,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,1,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,1,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,0,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,1,425000.0

In [170]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    int64
 14  salary          148 non-null    float64
dtypes: float64(6), int64(2), object(7)
memory usage: 25.3+ KB

In [171]:
train['salary'] = train['salary'].fillna(train['salary'].mean())
# train = train.drop('sl_no', axis=1)
# train = train.drop('salary', axis=1)

In [172]:
train.shape

(215, 15)

In [173]:
train.isnull().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

In [174]:
train.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,status,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,0.688372,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,0.464240,77457.900102
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,0.000000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,0.000000,250000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,1.000000,288655.405405
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,1.000000,288655.405405
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,1.000000,940000.000000

In [175]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    int64
 14  salary          215 non-null    float64
dtypes: float64(6), int64(2), object(7)
memory usage: 25.3+ KB

In [176]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import PowerTransformer
from sklearn.compose import ColumnTransformer

In [177]:
X=train.drop(columns=['sl_no', 'status'],axis=1)
y=train['status']

In [178]:
# Numerical Columns
num=X.select_dtypes(exclude='object').columns

# Categorical Columns
cat=X.select_dtypes(include='object').columns

In [179]:
cat

Index(['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex',
       'specialisation'],
      dtype='object')

In [180]:
num

Index(['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary'], dtype='object')

In [181]:
# Impute Categorical Columns (Filling missing value `null` with other values)
impute = SimpleImputer(strategy='most_frequent')
Xc = impute.fit_transform(X[cat])

In [182]:
# Encode Categorical Columns
encoding = OneHotEncoder()
Xc = encoding.fit_transform(Xc)

In [183]:
# Change Numerical Column Data Distribution
transform = PowerTransformer()
Xn = transform.fit_transform(X[num])

In [184]:
from sklearn.linear_model import LogisticRegression
from imblearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

from sklearn.metrics import precision_recall_fscore_support

In [185]:
inter=Pipeline([('i',SimpleImputer(strategy='most_frequent')),
                ('e',OneHotEncoder())])
              
transformers=[('t',PowerTransformer(),num),
              ('inter',inter,cat)]
    
steps=[('pre',ColumnTransformer(transformers=transformers)),
       ('model',LogisticRegression(max_iter=100))]

In [186]:
model = Pipeline(steps=steps)

In [187]:
# Splitting Data
X = train.drop(columns=['sl_no','status'],axis=1)
y = train['status']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [188]:
model.fit(X_train, y_train)

Pipeline(steps=[('pre',
                 ColumnTransformer(transformers=[('t', PowerTransformer(),
                                                  Index(['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary'], dtype='object')),
                                                 ('inter',
                                                  Pipeline(steps=[('i',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('e',
                                                                   OneHotEncoder())]),
                                                  Index(['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex',
       'specialisation'],
      dtype='object'))])),
                ('model', LogisticRegression())])

In [189]:
y_pred = model.predict(X_test)

In [190]:
y_pred

array([1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0])

In [192]:
precision, recall, fscore, *_ = precision_recall_fscore_support(y_test, y_pred)

In [193]:
result = f"""
Precision : {precision}
Recall    : {recall}
F1-Score  : {fscore}"""

print(result)

Precision : [0.73333333 0.82142857]
Recall    : [0.6875     0.85185185]
F1-Score  : [0.70967742 0.83636364]